{% extends 'base_template.html' %}
{% load static %}
{% block content %}
  <!-- ========================= SECTION MAIN ========================= -->
  <section class="section-intro padding-y-sm">
    <div class="container">
      <div class="intro-banner-wrap">
        <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded" />
      </div>
    </div> <!-- container // -->
  </section>
  <!-- ========================= SECTION MAIN END// ========================= -->

  <!-- ========================= SECTION ========================= -->
  <section class="section-name padding-y-sm">
    <div class="container">
      <header class="section-heading">
        <a href="./store.html" class="btn btn-outline-primary float-right">See all</a>
        <h3 class="section-title">Popular products</h3>
      </header>
      <!-- sect-heading -->
      <div class="row">
        {% for product in page_obj %}
          <div class="col-md-3">
            <div class="card card-product-grid">
              <a href="{{product.get_url}}" class="img-wrap"><img src="{{ product.image.url }}" /></a>
              <figcaption class="info-wrap">
                <a href="{{product.get_url}}" class="title">{{ product.name }}</a>
                <div class="price mt-1">{{ product.price }}</div>
              </figcaption>
            </div>
          </div>
        {% empty %}
          <p>No products available.</p>
        {% endfor %}
      </div>

      <!-- Pagination controls -->
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link" aria-label="Previous">&laquo;</span>
            </li>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <li class="page-item active">
                <span class="page-link">{{ num }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link" aria-label="Next">&raquo;</span>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <!-- container // -->
  </section>
  <!-- ========================= SECTION END// ========================= -->
{% endblock %}
